<div class="skinny-wrapper">
    <label>Name</label>
    <div>
        {{input type="text" value=item.name  placeholder="The name of the Blog"}}
    </div>
    <label>Description</label>
    <div>
        {{textarea value=item.description cols="80" rows="6" class="form-control" placeholder="..."}}
    </div>
    <div>
        <input type="submit" {{action 'buttonClicked' item}} placeholder={{buttonLabel}}>
    </div>
</div>