<div class="panel panel-info blog-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{#link-to 'posts' item}}
            {{item.name}}
        {{/link-to}}
        </h3>
    </div>
    <div class="panel-body">
        {{yield}}
    </div>
</div>