<div class="skinny-wrapper">
        <label>Body</label>
        <div>
            {{textarea value=item.body cols="80" rows="6" class="form-control" placeholder="Write your comment here..."}}
        </div>
        <div>
            <input type="submit" {{action 'buttonClicked' item}} placeholder={{buttonLabel}}>
        </div>
</div>