<div>
    <label for="file" class="ui secondary button">
        <i class="file icon"></i>
        Add Cover</label>
    <input type="file" id="file" onchange={{action "loadImage"}}>
    {{!input type='file' id="file" value=uploadedFile}}
    <button {{action 'getCroppedAvatar'}} class="ui secondary button">crop</button>
</div>
<br>
<hr>
<div class="container">
    <div class="cropper-preview">
    </div>
    <div class="cropper-container">
        <img id="image" src="/assets/images/sanctum_sanctorum.jpg">
    </div>
</div>
<hr>
