<header id="main-navigation" class="clearFix">
    {{#link-to 'blogs' class="name"}}Gecko{{/link-to}}
    <nav>
        {{#link-to 'blogs' }}<a href="">Blogs</a>{{/link-to}}
        {{#if authManager.isAuthenticated}}
            {{link-to 'Profile' 'users.show' authManager.currentUser }}
            <a href="#" {{action 'logOut'}}>Logout</a>
        {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
        {{/if}}
    </nav>
</header>


