<form class="ui form">
    <div class="field">
        <label>Role Name</label>
        {{input type="text" value=role.name placeholder="role name"}}
    </div>
    <div class="field">
        {{#power-select
                options=permissions
                selected=permission
                placeholder="Please, select permission"
                onchange=(action 'addPermission')
        as |permission|
        }}
            {{permission.name}}
        {{/power-select}}
    </div>
    <input type="submit" {{action 'buttonClicked' role}} class="ui button" placeholder={{buttonLabel}}>
</form>




