@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
@import 'login';

#main-container {
  margin-top: 7em;
}

.blog-content {
  height: 100px;
  overflow: hidden;
}

.can-delete-all-blogs {
  .ui.card {
    cursor: pointer;
  }
  .blog-clicked {
    box-shadow: 0 1px 20px 0 #e00013, 0 0 0 1px #a72727 !important;
  }
}

.cropper-container {
  min-height: 300px;
  max-width: 500px;
  img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
}

.cropper-preview {
  overflow: hidden;
  transform: none;
  display: block;
  height: 200px;
  width: 200px;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  position: absolute;
  left: 850px;
  border: 1px solid #a4a4a5;
}

#file {
  display: none;
}

.post-content {
  height: 145px;
  overflow: hidden;
}
.post-content.header {
  margin-top: 4px;
}

#new-post {
  a {
    color: black;
  }
}
.main-menu {
  height: 110px;
}
.main-filter {
  padding: 50px 0 50px;
}

.blogs.block {
  .blog {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
    border-radius: 5px;
    margin: 0 0 10px;
  }
  .blog-cover {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .blog-cover img {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
  }
  .blog-content {
    overflow: hidden;
    max-width: 300px;
    height: 90px;
    padding: 15px;
  }
  .blog-title {
    font-size: 16px;
    font-weight: bold;
  }
  .blog-content a {
    display: block;
    color: #000;
    height: 19px;
    overflow: hidden;
  }
  .blog-footer {
    height: 50px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .blog-category {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-user {
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-actions {
    float: right;
    padding: 5px 5px 0 5px;
  }
  .blog-actions a {
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-date {
    padding: 5px 0 0;
  }
}
.blogs.list {
  .blog {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
    //border-radius: 5px;
    margin: 0 0 10px;
  }
  .blog-cover {
    width: 120px;
    height: 120px;
    float: left;
    overflow: hidden;
  }
  .blog-cover img {
    width: 100%;
  }
  .blog-content {
    overflow: hidden;
    height: 90px;
    padding: 15px;
  }
  .blog-title {
    font-size: 16px;
    font-weight: bold;
  }
  .blog-content a {
    display: block;
    color: #000;
    height: 19px;
    overflow: hidden;
  }
  .blog-footer {
    height: 30px;
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-category {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-user {
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-actions {
    float: right;
    padding: 5px 5px 0 5px;
  }
  .blog-actions a {
    color: rgba(0, 0, 0, 0.4);
  }
  .blog-date {
    padding: 0 0 0 134px;
  }
}

.main-filter {
  .search-filter {
    margin: 0;
    float: left;
  }
  .category-filter {
    width: 200px;
    float: left;
    .ember-power-select-trigger.ember-view.ember-basic-dropdown-trigger {
      height: 37px;
    }
    .ember-power-select-placeholder {
      margin-top: 4px;
    }
  }
  .user-filter {
    width: 200px;
    float: left;
    .ember-power-select-trigger.ember-view.ember-basic-dropdown-trigger {
      height: 37px;
    }
    .ember-power-select-placeholder {
      margin-top: 4px;
    }
    .ember-power-select-selected-item {
      margin-top: 4px;
    }
    .ember-power-select-clear-btn {
      margin-top: 4px;
    }
  }
  .date-filter {
    float: left;
    width: 200px;
  }
  .end-date-filter {
    width: 200px;
    float: left;
  }
}

.delete-multiple {
  box-shadow: 0 0 15px 0 #0088c2, 0 0 0 0 !important;
}
.blog-create {
  color: #5fc298;
}
.blog-edit {
  color: #ffa500;
}

.blog-delete {
  color: #a70021;
}
