//@import 'bootstrap';
@import 'normalize';

$dark: #424656;
$ligh: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
* {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper-padding {
  padding: 4rem 0;
}

.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}

.clearFix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem ;
}

h2 {
  font-size: 2rem ;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

p, ul, ol {
  margin: 0 0 1.6em 0;
}

#main-footer {
  padding: 2.5em 5%;
  border-top: 1px solid $border;
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
    }
  }
}

#main-navigation {
  padding: 2em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 700;
    letter-spacing: 4px;
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid $border;
    padding:  1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav {
    float: right;
    padding-top: 1.2rem;
    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
}

.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage-content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  hr {
    width: 3em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $highlight;
    margin: 2rem 0 ;
  }
  h3 {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a {
    text-decoration: none;
    color:  $dark ;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $ligh;
  }
  p {
    margin: 0 0 .75em 0;
  }
}
.about {
  padding: 0 7.5% 0 0;
  a {
    color:$highlight;
    font-weight: 700;
  }
}
