@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
@import 'login';

#main-container {
  margin-top: 7em;
}

#new-blog-button {
  margin-bottom: 30px;
  float: left;
}

.header {
  a {
    color: black;
  }
}

.blog-content {
  height: 250px;
  overflow:hidden;
}

#delete-multiple {
  float: left;
  margin-bottom: 30px;
}

.canDeleteAllBlogs {
  .ui.card {
    cursor: pointer;
  }
  .blog-clicked {
    box-shadow: 0 1px 15px 0 #e00013, 0 0 0 1px #a72727;
  }
}