{{link-to 'leave comment:' 'comments.new' model.id class="btn btn-warning btn-xs"}}
<hr>
{{#each model.comments as |comment|}}
    <div class="panel panel-default">
        <div class="panel-body">
            {{comment.body}}
        </div>
        <div class="panel-footer">comment by: {{comment.user.email}}</div>
    </div>
{{/each}}