<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 id='login-title' class="ui teal image header">
            <div class="content">
                Sing Up
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{input type="text" value=model.email  placeholder="E-mail address"}}
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{input type="password" value=model.password placeholder="Password"}}
                    </div>
                </div>
                <input type="submit" {{action 'save' model}}  class="ui fluid large teal submit button" placeholder='Sign Up'>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>
