<div class="ui form">
  <div class="field">
    <label>Title</label>
    {{input type="text" value=item.title class="form-control" placeholder="The title of the post"}}
  </div>
  <div class="field">
    <label>Text</label>
    {{textarea value=item.body placeholder="Write post body here..."}}
  </div>
  <input type="submit" class="ui black basic button" {{action 'buttonClicked' item}} placeholder={{buttonLabel}}>
</div>