<h1>Last Activities:</h1>
{{activity-filter mainFilterActivities=activities filterActivities='filterActivities'}}

{{#if activities.isPending}}
  <div class="ui active centered inline loader"></div>
{{else}}
  <ul class='activities'>
    {{#each activities.content as |activity|}}
      <li>{{activity/activity-name item=activity}}</li>
    {{/each}}
  </ul>
{{/if}}



