<h1>mAin ActiVitY</h1>

{{activity-filter mainFilterActivities=activities filteredActivities='filteredActivities'}}

<ul>
  {{#each activities as |activity|}}
    <li>{{activity/activity-name item=activity}}</li>
  {{/each}}
</ul>

