<h1>Main Activity</h1>
{{activity-filter mainFilterActivities=activities filterActivities='filterActivities'}}

{{#if activities.isPending}}
  <div class="ui active inline loader"></div>
{{else}}
  <ul>
    {{#each activities.content as |activity|}}
      <li>{{activity/activity-name item=activity}}</li>
    {{/each}}
  </ul>
{{/if}}



