<div class="blog-delete-component">
  <b>{{moment-format item.created  'D MMMM YYYY, HH:mm'}}</b>, <span class="blog-delete">
  user: {{link-to item.user.email 'users.show' item.user.id}}
  , deleted {{item.contentObject.type}} with id: {{item.contentObject.id}}</span>
</div>