<div class="well">
    <ul class="nav nav-tabs">
        {{#link-to 'blogs.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
        {{#link-to 'blogs.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
    </ul>
</div>

{{#each model as |blog|}}
    <div class="panel panel-info blog-item">
        <div class="panel-heading">
            <h3 class="panel-title">{{#link-to 'posts' blog}}
                {{blog.name}}
            {{/link-to}}
            </h3>
        </div>
        <div class="panel-body">
            {{#if blog.isAuthor}}
                {{#link-to 'blogs.edit' blog.id class='btn btn-info btn-xs'}}
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                {{/link-to}}
                <button class="btn btn-info btn-xs" {{action 'deleteBlog' blog}}>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            {{/if}}
        </div>
    </div>
      {{!--TODO: move this all to non-block component--}}
    {{!--done --}}
{{/each}}