<h2>Add a new Blog</h2>

<div class="row">

    <div class="col-md-6">
        {{blog-item-form item=model buttonLabel='Add to blogs list' action='save'}}
    </div>

    <div class="col-md-4">
        {{#blog-item item=model}}
            <br/>
        {{/blog-item}}
    </div>

</div>