<div class="activity type-delete">
  <div class="user-avatar">
    <img src="/assets/images/sanctum_sanctorum.jpg" alt="user-avatar">
  </div>
  <p>
    {{link-to item.user.email 'users.show' item.user.id}}
    <span class="activity-date">{{moment-from-now item.createdAt  'D MMMM YYYY, HH:mm'}}</span>
  </p>
  <p>
    <span class="activity-description">
      Deleted {{item.contentObject.type}} with id: {{item.contentObject.title}}
    </span>
  </p>
</div>