<div class="main-filter">
  <div class='dropdown-filter'>
    {{filters/category-filter register='registerFilter' runFilter='runFilters'}}
  </div>
  <div class="user-filter">
    {{filters/user-filter register='registerFilter' runFilter='runFilters'}}
  </div>
  <div class='search-filter'>
    {{filters/search-filter register='registerFilter' runFilter='runFilters'}}
  </div>
</div>
