{{link-to 'add type' 'blog-type.new' class='ui secondary basic button'}}

<table class="ui celled table">
  <thead>
  <tr>
    <th>Category</th>
    <th>Blogs</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |category| }}
    <tr>
      <td>{{category.name}}</td>
      <td>{{link-to category.blogs.length 'blogs'  (query-params blog-type= model.id)}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
