<form class="ui form">
  <div class="field">
    <label>Permission Name</label>
    {{input type="text" value=model.name  placeholder="name: Can Create Blogs"}}
  </div>
  <div class="field">
    <label>Permission Name</label>
    {{input type="text" value=model.code placeholder="code: canCreateBlogs"}}
  </div>
  <input type="submit" {{action 'save' model}}  placeholder='save' class="ui button">
</form>

