<form class="ui reply form">
  <div class="field">
    {{textarea value=item.body  placeholder="Write your comment here..."}}
  </div>
  <div>
    <input type="submit" class="ui button" {{action 'save' item}} placeholder={{buttonLabel}}>
  </div>
</form>