<form class="ui form">
    <div class="field">
        <label>Category:</label>
        {{input type="text" value=model.name  placeholder="The name of the category"}}
    </div>
    <input type="submit" class="ui button" {{action 'save' model}} placeholder='Save'>
</form>