{{link-to 'new role' 'roles.new'}}

<table class="ui celled table">
    <thead>
    <tr>
        <th>name</th>
        <th colspan="3">permissions</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |role|}}
        <tr>
            <td>{{role.name}}</td>
            <td colspan="3">
                {{#each role.permissions as |permission| }}
                    {{permission.code}}
                {{/each}}
            </td>
            <td>
                <button {{action 'deleteRole' role}}>
                    delete
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>