<p>Filter activity by: </p>
  {{#each filters as |filter|}}
    <div class="ui toggle checkbox activity-checkbox">
      {{one-way-checkbox checked=filter.isActive update=(action 'toggleFilter' filter)}}
      <label>{{filter.name}}</label>
    </div>
  {{/each}}

