<div class="blog-create-component">
  <b>{{moment-format item.created  'D MMMM YYYY, HH:mm'}}</b>,
  <span class="blog-create">user: {{link-to item.user.email 'users.show' item.user.id}}
    , created new {{item.typeModel.type}}
    with title: {{item.typeModel.title}}
  </span>
</div>
