<div class="blog-create-component">
  <b>{{item.createdFormatted}}</b>,
  <span class="blog-create">user: {{link-to item.user.email 'users.show' item.user.id}}
    , created new {{item.typeModel.type}}
    with title: {{item.typeModel.title}}
  </span>
</div>
