{{#if model.isAuthor}}
  <div class="main-menu">
    <div class="ui left floated main menu">
      {{#link-to 'posts.new' class="bug popup icon item"}}
        <i class="plus icon"></i>
      {{/link-to}}
    </div>
  </div>
{{/if}}

<div class="posts">
  {{#each model.posts as |post|}}
    {{#link-to 'comments' post.id }}
      <div class="post">
        <div class="post-image">
          <img src="/assets/images/sanctum_sanctorum.jpg">
        </div>
        <div class="post-content">
          <div class="post-title">{{link-to post.title 'comments' post}}</div>
          <div class="post-description">
            <p>{{post.body}}</p>
          </div>
          <div class="meta">
            <span class="post-comments">comments: {{post.comments.length}}</span>
            <div class="post-actions">
              {{#if model.isAuthor}}
                {{#link-to 'posts.edit' post.id}}
                  <i class="edit icon"></i>
                {{/link-to}}
                <span {{action 'deletePost' post}}>
                  <i class="ban icon"></i>
                </span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>

