<div class="blog-edit-component">
  <b>{{moment-format item.created  'D MMMM YYYY, HH:mm'}}</b>,
  <span class="blog-edit"> user: {{link-to item.user.email 'users.show' item.user.id}}
    , edited {{item.contentObject.type}} with id: {{item.contentObject.id}}
  </span>
</div>
