{{nav-bar}}
<div class="wrapper wrapper-padding clearFix ">
    {{outlet}}
</div>
<footer id="main-footer">
    <p class="copyright">&copy; noone 2016</p>
    <nav>
        <a href="">twitter</a>
        <a href="">github</a>
        <a href="">fb</a>
    </nav>
</footer>