<h1>Blogs</h1>

<div class="well">
    <ul class="nav nav-pills">
        {{#link-to 'blogs.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
        {{#link-to 'blogs.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
    </ul>
</div>

{{outlet}}