<div class="col-1 about homepage-content">
    <h2>About</h2>
    <hr>
    <p>
        <a href="#">The Shichibukai</a> is an organization of seven pirates turned privateers in the service of the World Government.
        Although they work for the World Government, the Shichibukai themselves typically do not care about
        nor respect the Government or even other Shichibukai, and are often considered by the Marines
        to be no different from any other pirate. On the other hand, they are known as "government dogs"
        and are despised by other pirates, but are still feared and respected for their infamous reputation and strength
        which they gained before, and even after they become Shichibukai.
    </p>
</div>
<div class="col-2 homepage-content">
    <h2>Stuff i've written</h2>
    <hr>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">Fri 10 2016</p>
    <h3>How to learn Ember</h3>
    <p class="date">Fri 10 2016</p>
    <h3>Everything else</h3>
    <p class="date">Fri 10 2016</p>
</div>
<div class="col-3 homepage-content">
    <h2>Stuff i've written</h2>
    <hr>
    <h3>The DO list</h3>
    <p class="date">Fri 10 2016</p>
    <h3>How to learn Ember</h3>
    <p class="date">Fri 10 2016</p>
    <h3>Everything else</h3>
    <p class="date">Fri 10 2016</p>
</div>