<div class="main-filter">
  <div class='dropdown-filter'>
    {{category-filter register='registerFilter' runFilter='runFilters'}}
  </div>
  <div class='search-filter'>
    {{search-filter register='registerFilter' runFilter='runFilters'}}
  </div>
</div>
